name: Release

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    
    - name: Build release binary
      run: cargo build --release --verbose
    
    - name: Run tests
      run: cargo test --release --verbose
    
    - name: Create release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          target/release/main
          target/release/test_server
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
